@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import url(//db.onlinewebfonts.com/c/9fbffe9c24e09e4fac70f87f5a76f558?family=Brinnan);

.background {
    position: relative;
    width: 1728px;
    height: 1117px;
    background: #040404;
}

.div-nofications {
    position: absolute;
    height: 967px;
    width: 670px;
    left: 618px;
    right: 400px;
    top: 242px;
    background: #0E0E0E;
    border: 2px solid #1C1C1C;
    border-radius: 24px;
}

.account-activity {
    position: absolute;
    width: 202px;
    height: 21px;
    left: 41px;
    top: 19px;

    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #77838F;
}

.content-notification {
    width: 324px;
    height: 32px;
    left: 41px;
    top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    position: absolute;
    font-family: 'Brinnan';
    font-style: normal;
    display: flex;
    align-items: center;
}

.time-notification {
    width: 77px;
    height: 17px;
    left: 41px;
    top: 72px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #77838F;
    position: absolute;
    font-family: 'Brinnan';
    font-style: normal;
    display: flex;
    align-items: center;
}

.monney-notification {
    position: absolute;
    width: 102px;
    height: 12px;
    left: 527px;
    top: 50px;

    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;

    color: #FFFFFF;
}

.monney-notification-pluss {
    position: absolute;
    width: 97px;
    height: 18px;
    left: 533px;
    top: 68px;

    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;

    color: #009E23;
}

.line {
    position: absolute;
    width: 670px;
    height: 0px;
    left: -2px;
    top: 109px;

    border: 1px solid #1A1A1A;
}

.title {
    top: 119px;
}

.content {
    width: 350px;
    top: 140px;
}

.time {
    width: 66px;
    top: 172px;
}

.monney {
    width: 102px;
    left: 527px;
    top: 150px;
}

.monney-pluss {
    width: 102px;
    left: 527px;
    top: 168px;
}

.line-22 {
    top: 209px;
}

/* ô thứ 3 */
.title-3 {
    top: 219px;
}

.content-3 {
    width: 350px;
    top: 240px;
}

.time-3 {
    width: 72px;
    top: 272px;
}

.monney-3 {
    width: 102px;
    left: 527px;
    top: 250px;
}

.monney-pluss-3 {
    width: 81px;
    left: 548px;
    top: 268px;
}

.line-23 {
    top: 309px;
}

/* ô thứ 4 */
.title-4 {
    top: 329px;
}

.content-4 {
    width: 342px;
    top: 350px;
}

.time-4 {
    width: 77px;
    top: 382px;
}

.monney-4 {
    width: 168px;
    left: 460px;
    top: 360px;
}

.monney-pluss-4 {
    width: 128px;
    left: 501px;
    top: 382px;
}

.line-24 {
    top: 419px;
}

/* ô thứ 5 */
.title-5 {
    top: 439px;
}

.content-5 {
    width: 342px;
    top: 460px;
}

.time-5 {
    width: 50px;
    top: 492px;
}

.monney-5 {
    width: 102px;
    left: 527px;
    top: 470px;
}

.monney-pluss-5 {
    width: 81px;
    left: 548px;
    top: 488px;
}

.line-25 {
    top: 529px;
}

/* ô thứ 6 */
.title-6 {
    top: 549px;
}

.content-6 {
    width: 342px;
    top: 570px;
}

.time-6 {
    width: 50px;
    top: 602px;
}

.monney-6 {
    width: 102px;
    left: 527px;
    top: 580px;
}

.monney-pluss-6 {
    width: 81px;
    left: 548px;
    top: 598px;
}

.line-26 {
    top: 639px;
}

/* ô thứ 7 */
.title-7 {
    top: 654px;
}

.content-7 {
    width: 342px;
    top: 675px;
}

.time-7 {
    width: 50px;
    top: 707px;
}

.monney-7 {
    width: 131px;
    left: 498px;
    top: 685px;
}

.monney-pluss-7 {
    width: 102px;
    left: 527px;
    top: 703px;
}

.line-27 {
    top: 739px;
}

/* ô thứ 8 */
.title-8 {
    top: 754px;
}

.content-8 {
    width: 393px;
    top: 775px;
}

.time-8 {
    width: 50px;
    top: 807px;
    font-family: 'Red Hat Display';
    line-height: 19px;
}


.line-28 {
    top: 850px;
}

.icon {
    position: absolute;
    width: 24px;
    height: 24px;
}

.text-contro {
    position: absolute;
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;

    color: #FFFFFF
}

.linked {
    left: 552px;
    top: 779px;

}

.linked-text {
    width: 76px;
    height: 12px;
    left: 552px;
    top: 786px;
}


/* ô thứ 9 */
.title-9 {
    top: 868px;
}

.content-9 {
    width: 393px;
    top: 889px;
}

.time-9 {
    width: 50px;
    left: 45px;
    top: 921px;
    font-family: 'Red Hat Display';
    line-height: 19px;
}


.congrats {
    left: 532px;
    top: 893px;
}

.congrats-text {
    width: 76px;
    height: 12px;
    left: 552px;
    top: 899px;


}
