@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import url(//db.onlinewebfonts.com/c/9fbffe9c24e09e4fac70f87f5a76f558?family=Brinnan);




.dropdown {
    position: absolute;
    left: 900px;
    justify-content: left;
    width: 360px;
    height: 604px;
    background: #0E0E0E;
    border: 2px solid #1C1C1C;
    border-radius: 32px;
    color: white;
    z-index: 1;
}
.dropdown-box-close{
    width: 100%;
    height: 50px;
}

.dropdown-rectangle {
    float: right;
    margin: 15px;
    width: 30px;
    height: 30px;
    border: 2px solid #1C1C1C;
    border-radius: 500px;
}

.img-close {
    margin: 4px;

}
.dropdown-box-avata{
    width: 100%;
    height: 100px;
    border-radius: 32px;
    margin-top: 20px;
    margin: 0;
}
.dropdown-profile-pic{
    margin: 0 auto;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50%;

}


.text-paren {
    width: 100%;
    height: 25px;
    font-family: 'Brinnan';
    font-size: 24px;
    text-align: center;
    margin-top: 27px;
    color: #FFFFFF;
}

.text-child {
    width: 100%;
    font-family: 'Brinnan';
    height: 25px;
    font-size: 18px;
    color: #77838F;
    text-align: center;
    margin-top: 11px;
}

.button-rectangle {
    box-sizing: border-box;
    width: 207px;
    height: 56px;
    margin: 25px auto;
    border: 1px solid #2F2F2F;
    border-radius: 12px;
    position: relative;
}

.text-settings {
    font-family: 'Brinnan';
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    top: 15px;
    left: 65px;    
}

.text {
    
    width: 143px;
    height: 35px;
    line-height: 22px;
    margin-left: 37px;
    text-decoration: none;
    font-family: 'Brinnan';
    font-size: 18px;
    color: #FFFFFF;
}

.line-acc {
    margin: 12px auto;
    width: 286px;
    height: 0px;
    border: 1px solid #2F2F2F;
}
.sign-out{
    color: #FF5C5C;
}
